/* =============
    Hero
============= */
#hero{
    scroll-margin-top: 10000px;
    padding-top: 75px;
    
    div{

    section{
        background-image: url("../img/hero.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90vh;
        width: 100%;

        @include md{
            height: 100vh;
        }

        @include xl{
            background-position: center 80%;
        }
    }
}
}
