/* =============
    Hero
============= */
#hero{
    scroll-margin-top: 10000px;
    padding-top: 75px;
    
    div{

    section{
        background-image: url("../img/hero.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90vh;
        width: 100%;

        @include md{
            height: 100vh;
        }

        @include xl{
            background-position: center 80%;
        }

        // display: grid;
        // grid-template-columns: auto;
        // grid-template-areas: 
        // "."
        // "."
        // "."
        // "hero-text";

        #hero-text{

            // grid-area: hero-text;
            display: flex;

            div{

                align-self: flex-end;
                margin: 8px;

                h1{
                    font-size: rem-calc(32);
                    font-weight: 600;
                }
                h2{
                    font-size: rem-calc(16);
                    font-weight: 600;
                }
            }
        
        }
    
    }
}
}
