/* ===================
    Product Display
==================== */
#display{

    scroll-margin-top: 90px;
    margin-top: 48px;
    margin-bottom: 48px;


    div{
            display: grid;
            grid-template-columns: 12px auto 12px;
            grid-template-areas: ". display .";
            padding-bottom: 16px;

            @include md{
                padding: 0 16px;
            }

        ul{
            grid-area: display;

            @include md{
                display: grid;
                grid-template-columns: "33% auto 33%";
                grid-template-areas: "d1 d2 d3";
                gap: 32px;
        
            }

            li{
                #d-img{
                    background-color: var(--AlmondBrown);
                    padding: 64px 0;
                    height: 200px;

                    @include md{
                        height: 275px;
                    }
                }

                h3{
                    padding: 4px;
                    text-align: right;
                }

                p{
                    padding: 12px 0;
                }

                
                form{
                    display: flex;
                        align-items: center;
                        justify-content: center;
                    button{
                        
                    }
                }
            }
            

                #d1{

                    section{
                        background-image: url("../img/tenon.png");
                        background-color: var(--AlmondBrown);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 400px;
                        position: relative;
                        div{
                            // margin-top: -100px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: var(--SoftOat);
                            display: inline-block;
        
                            h2{
                                text-align: right;
                                margin: 12px 0;

                                @include sm{
                                    padding-left: 12px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    @include md{
                        grid-area: d1;
                    }
                }

                #d2{

                    section{
                        background-image: url("../img/dovetail.png");
                        background-color: var(--AlmondBrown);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 400px;
                            position: relative;
                            div{
                                // margin-top: -100px;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                background-color: var(--SoftOat);
                                display: inline-block;
            
                                h2{
                                    text-align: right;
                                    margin: 12px 0;

                                    @include sm{
                                        padding-left: 12px;
                                        margin-bottom: 2px;
                                    }
                                }
                            }
                    }

                    @include md{
                        grid-area: d2;
                    }
                }

                #d3{

                    section{
                        background-image: url("../img/carcass.png");
                        background-color: var(--AlmondBrown);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 400px;
                            position: relative;
                            div{
                                // margin-top: -100px;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                background-color: var(--SoftOat);
                                display: inline-block;
            
                                h2{
                                    text-align: right;
                                    margin: 12px 0;

                                    @include sm{
                                        padding-left: 12px;
                                        margin-bottom: 2px;
                                    }
                                }
                            }
                    }

                    @include md{
                        grid-area: d3;
                    }
                }
                
            }


        }
    // }
}