/* ===================
    Product Display
==================== */
#productdetail{

    @include md{
        background-color: var(--AlmondBrown);
    }
    padding-top: 16px;

    div{

        #overview{

     
        #detail-text{
            background-color: var(--AlmondBrown);
            text-align: center;
            padding: 8px 0 ;

            h1{
                margin-bottom: 4px;

                @include md{
                    text-align: left;
                    padding-left: 24px;
                    font-size: rem-calc(48);
                }

            }

            #detail-bordercontainer{
                display: grid;
                grid-template-columns: auto 200px auto;
                grid-template-areas: ". border .";

                @include md{
                    grid-template-columns: 24px auto;
                }

                #detail-border{
                    grid-area: border;
                    border-bottom: 1px solid white;
                    width: 200px;
                    margin-bottom: 8px;

                    @include md{
                        width: 300px;
                    }
    
                }
            }

            #detail-text-more{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                @include md{
                    align-items: flex-start;
                    justify-content: flex-start;

                }

                h3{        
                    font-size: rem-calc(12);
                    font-weight: 400;

                @include md{
                    padding-left: 24px;
                    font-size: rem-calc(24);
                }
                }

                form{
                    #detail-text-more-tapered{
                        opacity: .25;
                        font-size: rem-calc(12);

                        @include md{
                            font-size: rem-calc(24);
                        }
                    }
                }
            }
        }
        #detail-priceicon{
            padding: 12px 0;
            display: flex;
            gap: 12px;

            h2{
                padding: 4px;
                font-size: rem-calc(20);
                background-color: var(--AlmondBrown);
            }
            form{
                button{
                    padding: 8px;
                    background-color: var(--AlmondBrown);
                }
            }
        }
        #detail-img{
            background-image: url("../img/tenonsawdetail.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 40vh;
            width: 100%;

            @include md{
                height: 100vh;
                width: 85%;
            }
        }


        #detail-menu{
        ul{
            @include md{
                display: grid;
                grid-template-columns: 75% auto;
                grid-template-areas: 
                ". m1"
                ". m2"
                ". m3"
                ". m4"
                ". m5"
                ". m6";
                margin-top: -900px;
            }
            
            li{
                padding-top: 12px;

                @include md{
                    padding-top: 48px;
                    grid-area: text;

                    #m1{
                        grid-area: m1;
                    }
                    #m2{
                        grid-area: m2;
                    }
                    #m3{
                        grid-area: m3;
                    }
                    #m4{
                        grid-area: m4;
                    }
                    #m5{
                        grid-area: m5;
                    }
                    #m6{
                        grid-area: m6;
                    }
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 400;
                    border-bottom: 1px solid white;
                    width: 100px;
                    padding: 4px 0;
                    color: white;
                    padding-left: 4px;

                    @include md{
                        font-size: rem-calc(24);
                        width: 140px;
                        padding-left: 0px;
                    }

                }
            }

        }
    }
        }
    }
    }
