/* ===================
    Product Display
==================== */
#display{

    scroll-margin-top: 90px;
    margin-top: 24px;

    div{
            display: grid;
            grid-template-columns: 12px auto 12px;
            grid-template-areas: ". display .";
            padding-bottom: 16px;

        ul{
            grid-area: display;

            li{
                #d-img{
                    background-color: var(--AlmondBrown);
                    padding: 64px 0;
                }

                h3{
                    padding-bottom: 4px;
                    text-align: right;
                }
                h2{
                    padding-bottom: 4px;
                }
                
            }


        }
    }
}