/* ===================
    Product Display
==================== */
#productdetail{

    padding-top: 16px;
    div{

        #overview{

        }
        #detail-text{
            background-color: var(--AlmondBrown);
            text-align: center;
            padding: 8px 0 ;

            #detail-text-more{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                h3{
                    
                    font-size: rem-calc(12);
                    font-weight: 400;
                }

            }

        }
        #detail-priceicon{
            display: flex;

            h2{
                background-color: var(--AlmondBrown);
            }
            form{
                button{
                    background-color: var(--AlmondBrown);
                }
            }
        }
    }
}