/* =============
    Payment
============= */
#payment{
    div{
        background-color: var(--AlmondBrown);
        margin: 12px;

        display: grid;
        grid-template-columns: 12px auto 12px;
        grid-template-areas: ". content .";

        #payment-content{
            grid-area: content;
            padding-bottom: 12px;

            #payment-title{
                padding-top: 12px;
                h1{
                    font-size: rem-calc(24);
                }
            }

        #payment-inputs{
            #payment-card{
                margin-top: 4px;
                form{
                    padding: 4px;
                    input{
    
                    }
                }
            }

            #payment-billing{
                margin-top: 12px;
                #payment-billing-check{
                    display: flex;
                    padding: 4px 0;

                    h3{
                        font-size: rem-calc(12);
                        padding-left: 4px;
                        font-weight: 200;
                    }
                }
                #payment-billing-street{
                    form{
                        padding: 4px;
                        input{
        
                        }
                    }
                }
                #payment-billing-apartment{
                    display: flex;
                    margin: 8px 0;

                    h3{
                        font-size: rem-calc(12);
                        padding-left: 4px;
                        font-weight: 200;
                        padding-top: 2px;
                    }
                    
                }

                #payment-billing-zip{
                    form{
                        padding: 4px;
                        input{
        
                        }
                    }
                }
            }

        }    
        }
    }
}