/* =============
    Progress
============= */
#progress{
    scroll-margin-top: 10000px;
    padding-top: 80px;

    div{
        margin-left: 12px;
        margin-top: 24px;
        display: flex;
        gap: 12px;

        @include md{
            gap: 40px;
            margin-left: 0px;
            justify-content: center;
            align-items: center;

        }

        img{
            width: 10%;
            height: auto;
        }


        h3{
            padding: 4px;
            display: inline;
            border: 1px solid black;
            opacity: .25;
            font-size: rem-calc(12);

            @include md{
                font-size: rem-calc(24);
            }
        }

        #progress-payment{
            opacity: 1;
        }

    }
}